<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <h1>Search</h1>
      <form action="/action_page.php">
        <input class="search" type="text" placeholder="Search.." name="search">
      </form>
      <h1>Saloane gasite</h1>
      <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead>
          <tr>
            <th>Nume</th>
            <th>Zona</th>
          </tr>
          </thead>
        </table>
      </div>
      <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
          <tr>
            <td>Barber Shop</td>
            <td>Girocului</td>
          </tr>
          <tr>
            <td>Salon Barbers</td>
            <td>Buziasului</td>
          </tr>
          <tr>
            <td>Barber Shop</td>
            <td>Girocului</td>
          </tr>
          <tr>
            <td>Salon Barbers</td>
            <td>Buziasului</td>
          </tr>
          <tr>
            <td>Barber Shop</td>
            <td>Girocului</td>
          </tr>
          <tr>
            <td>Salon Barbers</td>
            <td>Buziasului</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <div class="col">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <h1>Servicii si tarife</h1>
          <h1>Barber Shop</h1>
          <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
              <thead>
              <tr>
                <th colspan="2">Descriere</th>
                <th>Pret</th>
              </tr>
              </thead>
            </table>
          </div>
          <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
              <tbody>
              <tr>
                <td colspan="2">Tuns scurt</td>
                <td>30 Lei</td>
              </tr>
              <tr>
                <td colspan="2">Tuns mediu</td>
                <td>45 Lei</td>
              </tr>
              <tr>
                <td colspan="2">Tuns lung</td>
                <td>70 Lei</td>
              </tr>
              <tr>
                <td colspan="2">Vopsit</td>
                <td>30 Lei</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <h3>My bookings</h3>
          <div class="month">
            <ul>
              <li class="prev">&#10094;</li>
              <li class="next">&#10095;</li>
              <li>
                August
                2021
              </li>
            </ul>
          </div>
          <table class="calendar">
            <thead class="weekdays">
            <th>Mo</th>
            <th>Tu</th>
            <th>We</th>
            <th>Th</th>
            <th>Fr</th>
            <th>Sa</th>
            <th>Su</th>
            </thead>
            <tbody class="days">
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>1</td>
            </tr>
            <tr>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
            </tr>
            <tr>
              <td>9</td>
              <td class="active">10</td>
              <td>11</td>
              <td>12</td>
              <td>13</td>
              <td>14</td>
              <td>15</td>
            </tr>
            <tr>
              <td>16</td>
              <td>17</td>
              <td>18</td>
              <td>19</td>
              <td>20</td>
              <td>21</td>
              <td>22</td>
            </tr>
            <tr>
              <td>23</td>
              <td>24</td>
              <td>25</td>
              <td>26</td>
              <td>27</td>
              <td>28</td>
              <td>29</td>
            </tr>
            <tr>
              <td>30</td>
              <td>31</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
